
  

  .InputForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_label {
      width: 100%;
    }
  }

  @media (min-width: $tablet) {
    .InputForm {
      flex-direction: row;
      justify-content: space-evenly;

      &_label {
        width: auto;
      }
    }
  }

