.Location {
  padding: 25px 0;

  &_warning {
    margin-bottom: 1rem;
  }
  
  .InputForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_label {
      width: 100%;
      margin-bottom: 1rem;
    }

    &_input {
      margin-bottom: 1rem;
    }
  }
}
