.Navbar {
  display: grid;
  grid-template-columns: 1fr 32px 1fr;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;

  &_icon {
    fill: var(--color-accent);
    width: 32px;
    height: 32px;
  }
}

.SettingsPanel {
  display: flex;

  &_picker {
    margin: 0 .8rem;
  }
}

.Nav {
  display: flex;
  justify-content: flex-end;
}