.c-weather {
  @include center();
  justify-content: space-evenly;
  width: 100%
}

.c-weather--forecast {
  flex-wrap: wrap;
}

.c-weather__icon {
  background-color: $color-main-light;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.c-weather__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
}

.c-weather__details--forecast {
  margin: $gutter * 3 $gutter * 2;
  min-width: 200px;
}

.c-weather__details > * {
  margin-bottom: $gutter;
}

.c-weather__date {
  text-align: center;
}

.c-weather__description {
  font-weight: $fw-regular;
  text-align: center;
}

.c-weather__temperature {
  font-size: $fs-l;
}

.c-weather__full {
  padding-top: 1rem 0;
}

.c-weather__item:last-of-type {
  margin-bottom: $gutter;
}