* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #48484a;
}

body {
  width: 100%;
  background-color: var(--color-oposite);
  transition: background-color 0.5s ease-in-out;
  padding: 10px;
}

section {
  max-width: 800px;
  margin: 0 auto 2rem;
}

@media (min-width: 340px) {
  body {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  body {
    padding: 40px;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 60px;
  }
}

@media (min-width: 1440px) {
  body {
    padding: 80px;
  }
}
