@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400&display=swap');

html {
  font-size: 14px;
}

body {
  @include font(var(--fs), var(--fw-light));
  font-family: 'Josefin Sans', sans-serif;
  color: var(--color-main);
}

h1 {
  @include font(var(--fs-xl), var(--fw-thin));
  text-align: center;
}

h2 {
  @include font(var(--fs), var(--fw-light));
  text-align: left;
  padding-bottom: 1rem;
  span {
    font-weight: var(--fw-regular);
  }
}