:root {
  --color-main: #f2f2f1;
  --color-main-light: rgba(242, 242, 241, .8);
  --color-main-lighter: rgba(242, 242, 241, .5);
  --color-oposite: #48484a;
  --color-accent: #ec6e4c;
  --color-accent-light: rgba(236, 110, 76, .8);
  --fs: 14px;
  --fs-l: 27.34px;
  --fs-xl: 36.65px;
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(255, 255, 255, 0.1);
  --border-radius: 10px;
}