.o-title {
  padding: 2rem 0;
}

.o-title--section {
  padding-bottom: 1rem;
}

.o-title__bold {
    display: block;
    padding-top: 1rem;
}

@media (min-width: $tablet) {
  .o-title__bold {
    display: inline-block;
  }
}